In [113]:
import pandas as pd
import numpy as np
df = pd.read_csv('input', header=None, dtype=str)
df

                0
0    110000000001
1    010011111011
2    111000011110
3    110101011110
4    100000010100
..            ...
995  001011001011
996  110101100000
997  101111111011
998  001101111101
999  100110100011

[1000 rows x 1 columns]

In [114]:
df['st'] = df.astype('str')
df

                0            st
0    110000000001  110000000001
1    010011111011  010011111011
2    111000011110  111000011110
3    110101011110  110101011110
4    100000010100  100000010100
..            ...           ...
995  001011001011  001011001011
996  110101100000  110101100000
997  101111111011  101111111011
998  001101111101  001101111101
999  100110100011  100110100011

[1000 rows x 2 columns]

In [115]:
df['li'] = pd.Series()
for index, row in df.iterrows():
    df['li'][index] = list(row['st'])
#         li = list(row['st'])
 

df.head()

/tmp/ipykernel_194843/827967716.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['li'] = pd.Series()
/tmp/ipykernel_194843/827967716.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['li'][index] = list(row['st'])
/home/san/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

              0            st                                    li
0  110000000001  110000000001  [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
1  010011111011  010011111011  [0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1]
2  111000011110  111000011110  [1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0]
3  110101011110  110101011110  [1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0]
4  100000010100  100000010100  [1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]

In [116]:
leni = df.shape[0]
leni

1000

In [117]:
print(df['li'][0])

['1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1']

In [118]:
li_most = []
for element in range(12):
#     print(element)
    agg = 0
    for index, row in df.iterrows():
#         print(int(row['li'][element]))
        agg += int(row['li'][element])
    print(agg)
    li_most.append(agg/leni)

li_most

516
496
508
496
489
488
503
497
528
494
490
507

[0.516,
 0.496,
 0.508,
 0.496,
 0.489,
 0.488,
 0.503,
 0.497,
 0.528,
 0.494,
 0.49,
 0.507]

In [119]:
gamma = []
epsilon = []
for x in li_most:
    if x > 0.5:
        gamma.append(1)
        epsilon.append(0)
    else:
        gamma.append(0)
        epsilon.append(1)
        

gamma

[1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1]

In [120]:
gamma_num = 0
epsilon_num = 0
for index, value in enumerate(gamma):
    print(index, value)
    gamma_num += value* 2**(11-index)
#     epsilon_num += value* 2**(11-index)

for index, value in enumerate(epsilon):
    print(index, value)
#     gamma_num += value* 2**(11-index)
    epsilon_num += value* 2**(11-index)

0 1
1 0
2 1
3 0
4 0
5 0
6 1
7 0
8 1
9 0
10 0
11 1
0 0
1 1
2 0
3 1
4 1
5 1
6 0
7 1
8 0
9 1
10 1
11 0

In [121]:
gamma_num*epsilon_num

3885894

In [83]:
dft = pd.read_csv('test', header=None, dtype=str)
dft

        0
0   00100
1   11110
2   10110
3   10111
4   10101
5   01111
6   00111
7   11100
8   10000
9   11001
10  00010
11  01010

In [84]:
dft['st'] = dft.astype('str')
dft

        0     st
0   00100  00100
1   11110  11110
2   10110  10110
3   10111  10111
4   10101  10101
5   01111  01111
6   00111  00111
7   11100  11100
8   10000  10000
9   11001  11001
10  00010  00010
11  01010  01010

In [85]:
dft['li'] = pd.Series()
for index, row in dft.iterrows():
    dft['li'][index] = list(row['st'])
#         li = list(row['st'])
 

dft.head()

/tmp/ipykernel_194843/353676690.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dft['li'] = pd.Series()
/tmp/ipykernel_194843/353676690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['li'][index] = list(row['st'])
/home/san/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

       0     st               li
0  00100  00100  [0, 0, 1, 0, 0]
1  11110  11110  [1, 1, 1, 1, 0]
2  10110  10110  [1, 0, 1, 1, 0]
3  10111  10111  [1, 0, 1, 1, 1]
4  10101  10101  [1, 0, 1, 0, 1]

In [87]:
lenit = dft.shape[0]
lenit

12

In [91]:
li_most = []
for element in range(5):
#     print(element)
    agg = 0
    for index, row in dft.iterrows():
#         print(int(row['li'][element]))
        agg += int(row['li'][element])
    print(agg)
    li_most.append(agg/lenit)

li_most

7
5
8
7
5

[0.5833333333333334,
 0.4166666666666667,
 0.6666666666666666,
 0.5833333333333334,
 0.4166666666666667]

In [97]:
gamma = []
epsilon = []
for x in li_most:
    if x > 0.5:
        gamma.append(1)
        epsilon.append(0)
    else:
        gamma.append(0)
        epsilon.append(1)
        

print(gamma)
print(epsilon)

[1, 0, 1, 1, 0]
[0, 1, 0, 0, 1]

In [105]:
gamma_num = 0
epsilon_num = 0
for index, value in enumerate(gamma):
    print(index, value)
    gamma_num += value* 2**(4-index)
#     epsilon_num += value* 2**(11-index)

for index, value in enumerate(epsilon):
    print(index, value)
#     gamma_num += value* 2**(4-index)
    epsilon_num += value* 2**(4-index)

0 1
1 0
2 1
3 1
4 0
0 0
1 1
2 0
3 0
4 1

In [106]:
print(gamma_num, epsilon_num)

22 9

In [ ]:
gamma_num = 0
epsilon_num = 0
for index, value in enumerate(gamma):
    print(index, value)
    gamma_num += value* 2**(4-index)
#     epsilon_num += value* 2**(11-index)

In [165]:
# with open('test') as f:
#     lines_bck = f.read().splitlines()
    
with open('input') as f:
    lines_bck = f.read().splitlines()

    
    
# lines_bck

In [167]:
lines = lines_bck[:]
leni = len(lines)
print('leni', leni)
for x in range(len(lines[0])):
#     print('pos', x)
    agg = 0.0
    for line in lines:
#         print(line[x])
        agg += float(line[x])
#     print('*', agg/leni)    
        
    new_lines = []
    for line in lines:
#         print(int(line[x])-agg/leni)
        test = float(line[x])-agg/leni
        if abs(test) < 0.5:
            new_lines.append(line)
        if abs(test) == 0.5:
            if test > 0:
                new_lines.append(line)
                
          
    lines = new_lines[:]
    leni = len(lines)
#     print(lines)
#     break
    if len(lines) == 1:
        break

leni 1000

In [168]:
lines

['111010111111']

In [171]:
O2_num = 0
for index, value in enumerate(lines[0]):
#     print(index, value)
    O2_num += int(value)* 2**(11-index)
#     epsilon_num += value* 2**(11-index)
O2_num

3775

In [173]:
lines = lines_bck[:]
leni = len(lines)
print('leni', leni)
for x in range(len(lines[0])):
#     print('pos', x)
    agg = 0.0
    for line in lines:
#         print(line[x])
        agg += float(line[x])
#     print('*', agg/leni)    
        
    new_lines = []
    for line in lines:
#         print(int(line[x])-agg/leni)
        test = float(line[x])-agg/leni
        if abs(test) > 0.5:
            new_lines.append(line)
        if abs(test) == 0.5:
            if test < 0:
                new_lines.append(line)
                
          
    lines = new_lines[:]
    leni = len(lines)
#     print(lines)
#     break
    if len(lines) == 1:
        break

leni 1000

In [175]:
CO2_num = 0
for index, value in enumerate(lines[0]):
#     print(index, value)
    CO2_num += int(value)* 2**(11-index)
#     epsilon_num += value* 2**(11-index)
CO2_num

1159

In [176]:
O2_num*CO2_num

4375225