In [1]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv('input', header=None, delimiter=' ')
df

           0  1
0    forward  4
1    forward  6
2       down  8
3    forward  3
4    forward  9
..       ... ..
995     down  1
996       up  8
997       up  4
998     down  6
999  forward  8

[1000 rows x 2 columns]

In [32]:
def depth(row):
    if row[0] == 'up':
        ans = row[1]
    if row[0] == 'down':
        ans = -row[1]
    if row[0] == 'forward':
        ans = 0
#     print('ans', ans)
    return ans

In [40]:
depth_res = df.apply(lambda x : depth(x), axis=1).sum() # depth
depth_res

-866

In [35]:
def distance(row):
    if row[0] == 'up':
        ans = 0
    if row[0] == 'down':
        ans = 0
    if row[0] == 'forward':
        ans = row[1]
#     print('ans', ans)
    return ans

In [39]:
distance_res = df.apply(lambda x : distance(x), axis=1).sum() # distance
distance_res

1980

In [41]:
depth_res*distance_res

-1714680

## 2nd part

In addition to horizontal position and depth, you'll also need to track a third value, aim, which also starts at 0. The commands also mean something entirely different than you first thought:

    down X increases your aim by X units.
    up X decreases your aim by X units.
    forward X does two things:
        It increases your horizontal position by X units.
        It increases your depth by your aim multiplied by X.

    forward 5 adds 5 to your horizontal position, a total of 5. Because your aim is 0, your depth does not change.
    down 5 adds 5 to your aim, resulting in a value of 5.
    forward 8 adds 8 to your horizontal position, a total of 13. Because your aim is 5, your depth increases by 8*5=40.
    up 3 decreases your aim by 3, resulting in a value of 2.
    down 8 adds 8 to your aim, resulting in a value of 10.
    forward 2 adds 2 to your horizontal position, a total of 15. Because your aim is 10, your depth increases by 2*10=20 to a total of 60.

In [66]:
aim = 0
depth = 0
distance = 0

for index, row in df.iterrows():
#     row = df.iloc[index]
#     print(index)
#     print(row)
    if row[0] == 'down':
        aim += row[1]
    if row[0] == 'up':
        aim -= row[1]
    if row[0] == 'forward':
        distance += row[1]
        depth += aim*row[1]
        
print(depth, distance, aim)

991459 1980 866

In [67]:
depth*distance

1963088820

In [59]:
df = pd.DataFrame( {'0' : ['forward', 'down', 'forward', 'up', 'down', 'forward'],
                    '1' : [5, 5, 8, 3, 8, 2]
                   })
df

         0  1
0  forward  5
1     down  5
2  forward  8
3       up  3
4     down  8
5  forward  2